body {
    display: flex;
    flex-direction: column;
    padding: 24px;
    max-width: 280px;
    height: 100vh;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to top right, rgb(46, 46, 46), rgb(63, 63, 63));
    background-repeat: no-repeat;
    color: white;
}

.userControls {
    display:flex;
    gap: 4px;
    margin-bottom: 40px;
}

.searchBar {
    height: 28px;
    padding-left: 6px;
    box-sizing: border-box;
    flex-grow: 1;
}
.searchBtn {
    box-sizing: border-box;
    height: 28px;

    
}
.searchBtn img {
    height: 16px;
    width: 16px;
}

.cityInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-size: 21px;
    font-weight: 600;
}

.localTime {
    font-size: 16px;
    font-weight: 100;
    color: rgb(172, 172, 172);
}

.conditionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}

.conditionText {
    font-size: 14px;
    margin-top: 8px;
}

.supportInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.supportInfoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.supportInfo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.iconSmall {
    width: 28px;
    opacity: 100%;
}

.iconBig {
    width: 128px;
}

.temperatureContainer {
    font-size: 64px;
    font-weight: 100;
}

.temperature {
    font-size: 64px;
    font-weight: 100;
}